2020-09-26 floor plan uncompiled - last release.json
[{"id":"bd9c14e9.4387e8","type":"subflow","name":"LPZoneStatus","info":"","category":"","in":[{"x":160,"y":220,"wires":[{"id":"a1ecf6d7.5ebbd8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"ac93da8b.dd1678","type":"http request","z":"bd9c14e9.4387e8","name":"HC2: set global - AL Zone Status","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.101/api/globalVariables/{{{topic}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":1410,"y":220,"wires":[[]]},{"id":"77bc19b5.7e5608","type":"change","z":"bd9c14e9.4387e8","name":"Change AL_Zone_Status","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.name","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"payload.value","pt":"msg","to":"value","tot":"msg"},{"t":"set","p":"payload.invokeScenes","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":220,"wires":[["ac93da8b.dd1678"]]},{"id":"ac071cee.a55d9","type":"change","z":"bd9c14e9.4387e8","name":"Change AL_Zone_Status","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":220,"wires":[["77bc19b5.7e5608"]]},{"id":"666bdb7c.3afbc4","type":"json","z":"bd9c14e9.4387e8","name":"","property":"payload","action":"str","pretty":false,"x":630,"y":220,"wires":[["ac071cee.a55d9"]]},{"id":"a1ecf6d7.5ebbd8","type":"function","z":"bd9c14e9.4387e8","name":"Prep for update to AL_Zone_Status","func":"/* retrieve MT name from displayed zone name (msg.zone_name) */\nvar lp_zone_data            = global.get(\"LP_zone_data\");\nvar zone_name_data          = lp_zone_data.find(_=>_.zone_name == msg.payload);\nvar MT_name                 = zone_name_data.MT;\n\n//node.warn([\"MT_name=\",MT_name]); \n\n\n/*convert MT name to lookup name for global variable*/\nvar zone_Lookup             = MT_name.substring(3);\n\n/*node.warn([\"zone_Lookup=\",zone_Lookup]); */\n\n\n/*retreive current value for zone - from the json global variable*/\nvar lp_zone_status          = global.get(\"LP_al_zone_status\");\nvar zone_status             = lp_zone_status[zone_Lookup];\n\n\n/* prep updated value to sent to HC2 */\nif (zone_status == \"Disabled\") {zone_status = \"Active\"} else  {zone_status = \"Disabled\"}\n\n\n/* update the json with the new value */\nlp_zone_status[zone_Lookup] = zone_status;\n\n\nmsg.payload                 = lp_zone_status;\nmsg.topic                   = \"AL_Zone_Status\"\n\n\nreturn msg;\n\n\n/* node.warn([\"your_variable=\",lp_zone_status]); */\n/*  node.warn([\"your_variable=\",zone_status]); */\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["666bdb7c.3afbc4"]]},{"id":"c2e468a.b28e598","type":"tab","label":"Floor Plan2","disabled":false,"info":""},{"id":"291b4341.79300c","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":640,"wires":[]},{"id":"3f6256ad.fb560a","type":"fibaroActor","z":"c2e468a.b28e598","name":"Loft AV/AV Main 1P","deviceID":"Loft AV/AV Main 1P","server":"9c9da376.afac5","events":true,"outputs":2,"x":770,"y":320,"wires":[[],[]]},{"id":"51e1a27.c8ebd5c","type":"fibaroActor","z":"c2e468a.b28e598","name":"Loft AV/AV Spots 2P","deviceID":"Loft AV/AV Spots 2P","server":"9c9da376.afac5","events":true,"outputs":2,"x":760,"y":360,"wires":[[],[]]},{"id":"b7ee271b.6cff28","type":"fibaroActor","z":"c2e468a.b28e598","name":"","deviceID":"0","server":"9c9da376.afac5","events":true,"outputs":2,"x":2030,"y":780,"wires":[["d8e788d4.56f1e8"],[]]},{"id":"d8e788d4.56f1e8","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2190,"y":780,"wires":[]},{"id":"6ab0ec0c.0837f4","type":"function","z":"c2e468a.b28e598","name":"Data Caching","func":"//delete dude entries\n/*\nvar homeMsgs_brightness         = context.get(\"homeMsgs_brightness\") \nnode.warn([homeMsgs_brightness[\"Garden/Garden Bench Lights\"]]);\ndelete homeMsgs_brightness[\"Garden/Garden Bench Lights\"];\nreturn msg;\n*/\n\n\n// saved context\nvar homeMsgs_brightness     = context.get(\"homeMsgs_brightness\")    || {}\nvar homeMsgs_colour         = context.get(\"homeMsgs_colour\")        || {}\nvar zone_status_global      = global.get(\"LP_al_zone_status\");\nvar uibuilder_zones         = flow.get(\"FP_al_zone_status\");\n\n\n\n// Replay cache if requested\nif ( msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'REPLAY') {\n\n    // Send AUTO LIGHTING ZONE STATUS (ACTIVE/DISABLED)\n    /* Loop through each AL Zone that is included in the Floor Plan and where it matches the LP_al_zone_status send the status through to uibuilder*/\n    uibuilder_zones.forEach(item =>{\n                Object.entries(zone_status_global).forEach(([key, value]) => \n                {\n                if (key == item.zone_name) \n                    {\n                    // Only send to a single client if we can\n                    if ( msg.hasOwnProperty('_socketId') )\n                        {\n                        //node.warn([\"up to here - brightness\", msg.topic])\n                        node.send({\n                            \"topic\"         : key, \n                            \"al_zone_status\": value,\n                            \"_socketId\"     : msg._socketId,\n                        })\n                        }\n                    else\n                        {\n                        node.send({\n                            \"topic\"         : key, \n                            \"al_zone_status\": value,\n                        })\n                        }\n                    }\n                })\n            return;\n            })\n\n    // Send BRIGHTNESS VALUES TO UIBUILDER\n    for (var topic1 in homeMsgs_brightness) {\n        // Only send to a single client if we can\n        if ( msg.hasOwnProperty('_socketId') )\n            {\n            //node.warn([\"up to here - brightness\", msg.topic])\n            node.send({\n                \"topic\"     : topic1, \n                \"brightness\": homeMsgs_brightness[topic1],\n                \"_socketId\" : msg._socketId,\n            })\n            }\n        else\n            {\n            node.send({\n                \"topic\"     : topic1, \n                \"brightness\": homeMsgs_brightness[topic1],\n            })\n            }\n        }   \n\n    // Send COLOUR VALUES TO UIBUILDER\n    for (var topic in homeMsgs_colour) {\n        // Only send to a single client if we can\n        if ( msg.hasOwnProperty('_socketId') )\n            {\n            //node.warn([\"up to here - colour\", msg.topic])\n            node.send({\n                \"topic\"     : topic, \n                \"colour\"    : homeMsgs_colour[topic],\n                \"_socketId\" : msg._socketId,\n            })\n            }\n        else\n            {\n            node.send({\n                \"topic\"     : topic, \n                \"colour\"    : homeMsgs_colour[topic],\n            })\n            }\n        }\n\n\n    return null\n}\n\n// ignore cacheControl and uibuilder control messages\nif (msg.hasOwnProperty('cacheControl') || msg.hasOwnProperty('uibuilderCtrl')) return null\n\n\nvar payload = msg.payload\n\n/* do not run if unwanted properites are returned from the HC2*/\nif (msg.payload.property == \"log\" || msg.payload.property == \"logTemp\" || msg.payload.property == \"power\" || msg.payload.property == \"energy\" || msg.payload.property == \"lastColorSet\") {return;}\n\n// AL ZONE STATUS IS NOT ICLUDED IN HERE AS THE STATUS IS STORED IN THE GLOBA = \"LP_al_zone_status\" WHICH IS UPDATED EVERY 1 SEC FROM THE LIGHTING PANEL\n\n// save context for next time\nif  (payload.property == \"color\")\n    {\n    //node.warn([\"up to here - colour\", msg.topic])\n    // Keep the last msg.payload by topic\n    homeMsgs_colour[msg.topic]              = payload.value\n    context.set('homeMsgs_colour'           , homeMsgs_colour)\n    }\nelse\n    {\n    //node.warn([\"up to here - bright\", msg.payload])\n    // Keep the last msg.payload by topic\n    homeMsgs_brightness[msg.topic]          = msg.payload\n    context.set('homeMsgs_brightness'       , homeMsgs_brightness)\n    }\n\nreturn msg;\n\n//if (payload.hasOwnProperty(\"property\") && msg.payload.property == \"lastColorSet\" ) {return}\n// ONLY REQUIRED FOR LIGHT BRIGHTNESS AND COLOUR, HOWEVER IN HINDSIGHT COULD HAVE LEVERAGED THE EXISTING VALUES STORED IN GLOBAL VARIABLES, haha!","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":720,"wires":[["6701c2d7.d5534c","1ad6a0f9.0a1d2f"]]},{"id":"2d68033f.51159c","type":"link in","z":"c2e468a.b28e598","name":"home-replay","links":["e586c1c1.d147b","38226d87.751512","136f947a.a6ec9c"],"x":775,"y":800,"wires":[["6ab0ec0c.0837f4"]]},{"id":"87632a0.55865d8","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Lounge Lights","deviceID":"Kitchen/Lounge Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":360,"y":260,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"51b12eea.0c6a5","type":"function","z":"c2e468a.b28e598","name":"Format RGBW for HC2","func":"function hexToRgb(hex) \n    {\n  var result = /^#?([a-f\\d]{2})([a-f\\d]{2})([a-f\\d]{2})$/i.exec(hex);\n  return result ? \n        {\n            r: parseInt(result[1], 16),\n            g: parseInt(result[2], 16),\n            b: parseInt(result[3], 16)\n        } \n    : null;\n    }\n\n/*node.warn([\"R = \",red]);\nnode.warn([\"circuit selected = \",global.get(\"LP_selected_circuit\")]);\n*/\n\nif (msg.type == \"colour\")\n    {\n    var skip = false;\n    if (msg.payload == \"warm\") {skip = true; msg.payload = {\"name\":\"setColor\",\"arg1\":0,\"arg2\":0,\"arg3\":0,\"arg4\":255}}\n\n    if (skip === false) \n        {\n        var hex_colour      = msg.payload;\n        hex_colour = hex_colour.substring(hex_colour.search(\"/\")+1)\n        var red             = hexToRgb(hex_colour).r\n        var green           = hexToRgb(hex_colour).g\n        var blue            = hexToRgb(hex_colour).b\n        msg.payload         = {\"name\":\"setColor\",\"arg1\":red,\"arg2\":green,\"arg3\":blue,\"arg4\":0}\n        }\n    }\n\nelse if (msg.type == \"lighting_scene\")\n    {\n        red     = msg.r\n        green   = msg.g\n        blue    = msg.b\n        white   = msg.w\n        msg.payload         = {\"name\":\"setColor\",\"arg1\":red,\"arg2\":green,\"arg3\":blue,\"arg4\":white}\n    }\n\nelse\n    {\n    \n    }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":760,"wires":[["b7ee271b.6cff28","1c528bb.5c17e74"]]},{"id":"d5ac6aa.2e91898","type":"fibaroActor","z":"c2e468a.b28e598","name":"Corridors/Loft Sky RGB 6P","deviceID":"Corridors/Loft Sky RGB 6P","server":"9c9da376.afac5","events":true,"outputs":2,"x":740,"y":400,"wires":[[],[]]},{"id":"1c528bb.5c17e74","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":740,"wires":[]},{"id":"6701c2d7.d5534c","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":620,"wires":[]},{"id":"1ad6a0f9.0a1d2f","type":"function","z":"c2e468a.b28e598","name":"Split Colour & Brightness","func":"function componentToHex(c)  {\n  var hex = c.toString(16);\n  return hex.length == 1 ? \"0\" + hex : hex;\n                            }\n\nfunction rgbToHex(r, g, b)  {\n  return componentToHex(r) + componentToHex(g) + componentToHex(b);\n\n                            }\nvar payload = {}\nvar colour  = {}\n\nif (msg.hasOwnProperty(\"payload\")) \n    {\n    payload = msg.payload\n    }\n\n\n/* do not run if lastcolorset is sent*/\nif (payload.hasOwnProperty(\"property\") && msg.payload.property == \"lastColorSet\" )  \n    {\n    node.warn([\"up to here - lastColorSet\"]);\n    return\n    }\n\n\nif (msg.hasOwnProperty(\"brightness\")) {}\n\nelse if (msg.hasOwnProperty(\"colour\") || (payload.hasOwnProperty(\"property\") && msg.payload.property == \"color\" )) \n\n    {\n    if (msg.hasOwnProperty(\"colour\"))\n        {colour = msg.colour}\n    else\n        {colour = msg.payload.value}\n\n    var output              = colour.split(\",\");\n    output0                 = output[0];\n    output1                 = output[1];\n    output2                 = output[2];\n    output3                 = output[3];\n\n    /* Boost brightness, otherwise node-red is showing a literal interpretation of the colour + brightness i.e. low brightness looks black  */\n    var max_brightness      = Math.max(Number(output[0]), Number(output[1]), Number(output[2]));\n    var uplift_factor       = 254/max_brightness\n    var circuit_colour      = rgbToHex( Math.round(Number(output[0]*uplift_factor)),  Math.round(Number(output[1]*uplift_factor)),  Math.round(Number(output[2]*uplift_factor)));\n\n\n    if (output[0] === \"0\" && output[1] === \"0\" && output[2] === \"0\" && output[3] > 0)\n                {msg.colour = \"#ffc847\"    /* warm white */\n                }\n    else\n                {msg.colour = \"#\" + circuit_colour\n                }\n    }\n    \nelse\n    {\n    //node.warn([\"up to here - brightness\", msg.topic]);\n    msg.brightness = msg.payload;\n    }\n    \n    msg.payload = {};\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":720,"wires":[["e1a22b39.094dc8","2dc417e9.5ab718"]]},{"id":"e1a22b39.094dc8","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":780,"wires":[]},{"id":"38226d87.751512","type":"link out","z":"c2e468a.b28e598","name":"home-controls","links":["2d68033f.51159c","4a67e1e4.1a194"],"x":1435,"y":840,"wires":[]},{"id":"2dc417e9.5ab718","type":"uibuilder","z":"c2e468a.b28e598","name":"","topic":"","url":"floorplan2","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":1280,"y":720,"wires":[["291b4341.79300c","94700cca.4ba6e","55675190.c9d2f"],["c389f1ad.1b788","38226d87.751512"]]},{"id":"c389f1ad.1b788","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":800,"wires":[]},{"id":"433b875b.a8f088","type":"function","z":"c2e468a.b28e598","name":"Lighting Groups Table","func":"// Table of all lights in FLOOR PLAN and their GROUP NAME (for group lighting updates)\n\nflow.set (\"FP_lighting_scenes\",\n            [\n            {scene_name:\"TV Low\",       circuit:\"Cabinet Lights\",       value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Lounge Lights\",        value:\"5\"},\n            {scene_name:\"TV Low\",       circuit:\"Wall Lights\",          value:\"1\"},\n            {scene_name:\"TV Low\",       circuit:\"Pendant Light\",        value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Island Lights\",        value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Skylight Lights\",      value:\"10\"},\n            {scene_name:\"TV Low\",       circuit:\"Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Kit Sink RGBW 5PL\",    value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Island Low Lights\",    value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Sink and Low Lights\",  value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Low\",       circuit:\"Drinks Cabinet\",       value:\"0\"},\n            {scene_name:\"TV Low\",       circuit:\"Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            \n            {scene_name:\"TV Medium\",       circuit:\"Cabinet Lights\",       value:\"15\"},\n            {scene_name:\"TV Medium\",       circuit:\"Lounge Lights\",        value:\"20\"},\n            {scene_name:\"TV Medium\",       circuit:\"Wall Lights\",          value:\"20\"},\n            {scene_name:\"TV Medium\",       circuit:\"Pendant Light\",        value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Island Lights\",        value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Skylight Lights\",      value:\"20\"},\n            {scene_name:\"TV Medium\",       circuit:\"Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kit Sink RGBW 5PL\",    value:\"0\"},\n            {scene_name:\"TV Medium\",       circuit:\"Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Island Low Lights\",    value:\"15\"},\n            {scene_name:\"TV Medium\",       circuit:\"Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Sink and Low Lights\",  value:\"15\"},\n            {scene_name:\"TV Medium\",       circuit:\"Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"TV Medium\",       circuit:\"Drinks Cabinet\",       value:\"10\"},\n            {scene_name:\"TV Medium\",       circuit:\"Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Relaxing\",       circuit:\"Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Wall Lights\",          value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Pendant Light\",        value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Island Lights\",        value:\"10\"},\n            {scene_name:\"Relaxing\",       circuit:\"Skylight Lights\",      value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Ceiling Lights\",       value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kit Sink RGBW 5PL\",    value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Island Low Lights\",    value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Sink and Low Lights\",  value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Relaxing\",       circuit:\"Drinks Cabinet\",       value:\"15\"},\n            {scene_name:\"Relaxing\",       circuit:\"Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Cooking\",       circuit:\"Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Cooking\",       circuit:\"Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Cooking\",       circuit:\"Wall Lights\",          value:\"20\"},\n            {scene_name:\"Cooking\",       circuit:\"Pendant Light\",        value:\"40\"},\n            {scene_name:\"Cooking\",       circuit:\"Island Lights\",        value:\"85\"},\n            {scene_name:\"Cooking\",       circuit:\"Skylight Lights\",      value:\"20\"},\n            {scene_name:\"Cooking\",       circuit:\"Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"Cooking\",       circuit:\"Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Kit Sink RGBW 5PL\",    value:\"99\"},\n            {scene_name:\"Cooking\",       circuit:\"Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Island Low Lights\",    value:\"60\"},\n            {scene_name:\"Cooking\",       circuit:\"Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Sink and Low Lights\",  value:\"60\"},\n            {scene_name:\"Cooking\",       circuit:\"Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Cooking\",       circuit:\"Drinks Cabinet\",       value:\"60\"},\n            {scene_name:\"Cooking\",       circuit:\"Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Dinner\",       circuit:\"Cabinet Lights\",       value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Dinner\",       circuit:\"Wall Lights\",          value:\"20\"},\n            {scene_name:\"Dinner\",       circuit:\"Pendant Light\",        value:\"100\"},\n            {scene_name:\"Dinner\",       circuit:\"Island Lights\",        value:\"10\"},\n            {scene_name:\"Dinner\",       circuit:\"Skylight Lights\",      value:\"40\"},\n            {scene_name:\"Dinner\",       circuit:\"Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Kit Sink RGBW 5PL\",    value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Island Low Lights\",    value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Sink and Low Lights\",  value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dinner\",       circuit:\"Drinks Cabinet\",       value:\"0\"},\n            {scene_name:\"Dinner\",       circuit:\"Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Dining\",       circuit:\"Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Wall Lights\",          value:\"20\"},\n            {scene_name:\"Dining\",       circuit:\"Pendant Light\",        value:\"70\"},\n            {scene_name:\"Dining\",       circuit:\"Island Lights\",        value:\"0\"},\n            {scene_name:\"Dining\",       circuit:\"Skylight Lights\",      value:\"30\"},\n            {scene_name:\"Dining\",       circuit:\"Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Ceiling Lights\",       value:\"0\"},\n            {scene_name:\"Dining\",       circuit:\"Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Kit Sink RGBW 5PL\",    value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Island Low Lights\",    value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Sink and Low Lights\",  value:\"10\"},\n            {scene_name:\"Dining\",       circuit:\"Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Dining\",       circuit:\"Drinks Cabinet\",       value:\"45\"},\n            {scene_name:\"Dining\",       circuit:\"Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            {scene_name:\"Party\",       circuit:\"Cabinet Lights\",       value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Lounge Lights\",        value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Wall Lights\",          value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Pendant Light\",        value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Island Lights\",        value:\"10\"},\n            {scene_name:\"Party\",       circuit:\"Skylight Lights\",      value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Skylight Lights\",      r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Ceiling Lights\",       value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Ceiling Lights\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Kit Sink RGBW 5PL\",    value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Kit Sink RGBW 5PL\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Island Low Lights\",    value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Island Low Lights\",    r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Sink and Low Lights\",  value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Sink and Low Lights\",  r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n            {scene_name:\"Party\",       circuit:\"Drinks Cabinet\",       value:\"15\"},\n            {scene_name:\"Party\",       circuit:\"Drinks Cabinet\",       r:0,  g:0,  b:0,  w:255,  type:\"rgbw\"},\n\n            ])\n\n\n\nflow.set  (\"FP_lighting_groups\",\n            [\n            {zone_name:\"Kit All\",       circuit:\"Cabinet Lights\"},\n            {zone_name:\"Kit All\",       circuit:\"Lounge Lights\"},\n            {zone_name:\"Kit All\",       circuit:\"Wall Lights\"},\n            {zone_name:\"Kit All\",       circuit:\"Pendant Light\"},\n            {zone_name:\"Kit All\",       circuit:\"Island Lights\"},\n            {zone_name:\"Kit All\",       circuit:\"Skylight Lights\"},\n            {zone_name:\"Kit All\",       circuit:\"Ceiling Lights\"},\n            {zone_name:\"Kit All\",       circuit:\"Kit Sink RGBW 5PL\"},\n            {zone_name:\"Kit All\",       circuit:\"Island Low Lights\"},\n            {zone_name:\"Kit All\",       circuit:\"Sink and Low Lights\"}, //Cabinet\n            {zone_name:\"Kit All\",       circuit:\"Drinks Cabinet\"},\n            \n            {zone_name:\"Kit Spot All\",      circuit:\"Cabinet Lights\"},\n            {zone_name:\"Kit Spot All\",      circuit:\"Lounge Lights\"},\n            {zone_name:\"Kit Spot All\",      circuit:\"Wall Lights\"},\n            {zone_name:\"Kit Spot All\",      circuit:\"Pendant Light\"},\n            \n            {zone_name:\"Kit High RGBW\",       circuit:\"Skylight Lights\"},\n            {zone_name:\"Kit High RGBW\",       circuit:\"Ceiling Lights\"},\n            \n            {zone_name:\"Kit Low RGBW\",       circuit:\"Kit Sink RGBW 5PL\"},\n            {zone_name:\"Kit Low RGBW\",       circuit:\"Island Low Lights\"},\n            {zone_name:\"Kit Low RGBW\",       circuit:\"Sink and Low Lights\"}, //Cabinet\n            \n            {zone_name:\"Garden All\",        circuit:\"Garden Wall Lights\"},\n            {zone_name:\"Garden All\",        circuit:\"Garden Bench Lights\"},\n            \n            {zone_name:\"Garden Room All\",   circuit:\"Spot Lights\"},\n            {zone_name:\"Garden Room All\",   circuit:\"Perimeter Lights\"},\n\n            {zone_name:\"Ground High RGBW\",  circuit:\"AV Main 1P\"},\n            {zone_name:\"Ground High RGBW\",  circuit:\"Skylight Lights\"},\n            {zone_name:\"Ground High RGBW\",  circuit:\"Ceiling Lights\"},\n            {zone_name:\"Ground High RGBW\",  circuit:\"Perimeter Lights\"},\n\n            {zone_name:\"Ground Low RGBW\",   circuit:\"Kit Sink RGBW 5PL\"},\n            {zone_name:\"Ground Low RGBW\",   circuit:\"Island Low Lights\"},\n            {zone_name:\"Ground Low RGBW\",   circuit:\"Sink and Low Lights\"}, //Cabinet\n            {zone_name:\"Ground Low RGBW\",   circuit:\"Garden Bench Lights\"},\n            ])\n\n\n\n// Table of AL zones to be passed through to UIBUILDER\nflow.set  (\"FP_al_zone_status\",\n            [\n            {zone_name:\"Zone_G_GarBath\"},\n            {zone_name:\"Zone_G_GarRoom\"},\n            {zone_name:\"Zone_G_Kitchen\"},\n            {zone_name:\"Zone_G_KitWC\"},\n            {zone_name:\"Zone_G_KitCorr\"},\n            ])\n\n\n\n//Reverse table to lookup full HC2 iight name from LP localname\nflow.set (\"FP_hc2_device_name_lookup\",\n    [\n    {localname:\"Office\",            hc2name:\"Loft AV/AV Main 1P\"},\n    {localname:\"Kit Corr\",         hc2name:\"Corridors/Kit Corr 2x 2P\"},\n    {localname:\"Gardenroom\",         hc2name:\"Garden Room/Spot Lights\"},\n    {localname:\"Kitchen WC\",         hc2name:\"Kitchen WC/Kit WC Lights 1P\"},\n    {localname:\"Garden Bath\",         hc2name:\"Garden Bath/Bath Spot Lights\"},   \n    ])\n\n    \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":60,"wires":[[]]},{"id":"cf2cfe9f.6e634","type":"inject","z":"c2e468a.b28e598","name":"Create Node-Red Globals - Run Once (10s)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":750,"y":60,"wires":[["433b875b.a8f088"]]},{"id":"3fac8168.37d0ae","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1730,"y":720,"wires":[]},{"id":"94700cca.4ba6e","type":"function","z":"c2e468a.b28e598","name":"Lighting Groups","func":"var lighting_groups = flow.get(\"FP_lighting_groups\");\nvar lighting_scenes = flow.get(\"FP_lighting_scenes\");\n\nvar topic           = msg.topic;\nvar topic_prefix    = topic.substring(0, 5);\ntopic               = topic.substring(topic.search(\" \")+1)\n\n\n//group lighting update\nif (topic_prefix == \"Group\")\n    {\n        \n    lighting_groups.forEach(item =>\n    {\n        if (item.zone_name == topic)\n            {\n            var event       = {};\n            event.topic     = item.circuit;\n            event.payload   = msg.payload;\n            node.send(event);\n            return;\n            }\n    })\n    \n    }\n\nelse if (msg.payload == \"Scene\") \n    {\n    lighting_scenes.forEach(item =>\n    {\n        if (item.scene_name == msg.topic)\n            {\n            var event       = {};\n            event.topic     = item.circuit;\n            if (item.type == \"rgbw\") \n            {\n            event.type      = \"lighting_scene\"\n            event.r         = item.r;\n            event.g         = item.g;\n            event.b         = item.b;\n            event.w         = item.w;\n            }\n            else\n            {\n            event.payload   = Number(item.value);\n            }\n            node.send(event);\n            return;\n            }\n    })\n    }\n\nelse\n    {\n    // if al zone status update do nothing as handled in separate flow\n    if (msg.zone_status === true)\n        {\n        //do nothing\n        return;     \n        }\n    //else single lighting update\n    else{\n        return msg;\n        }\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":720,"wires":[["51b12eea.0c6a5","3fac8168.37d0ae"]]},{"id":"1b023562.a2d7cb","type":"function","z":"c2e468a.b28e598","name":"onChange (AL Zone Status)","func":"msg.topic                   = {};\nmsg.payload                 = {};\n\nvar zone_status_global      = global.get(\"LP_al_zone_status\");\nvar uibuilder_zones         = flow.get(\"FP_al_zone_status\");\n\n// EXACT same code as in Data Caching\n// Triggered each time there is a change in the AL_Zone_Status global variable from HC2\n// Trigger is detected in the Lighting Panel flow\nuibuilder_zones.forEach(item =>{\n    \n            Object.entries(zone_status_global).forEach(([key, value]) => \n            {\n            if (key == item.zone_name) \n                {\n                // Only send to a single client if we can\n                    node.send({\n                        \"topic\"         : key, \n                        \"al_zone_status\": value,\n                        \"payload\"       : \"blah\",\n                    })\n                }\n            })\n        return;\n    \n        })","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["6ab0ec0c.0837f4"]]},{"id":"1bfd9b2a.03ccd5","type":"link in","z":"c2e468a.b28e598","name":"","links":["86e12c3c.810a7","df9eedb7.8a3fa"],"x":155,"y":160,"wires":[["1b023562.a2d7cb"]]},{"id":"8695190d.4ed958","type":"subflow:bd9c14e9.4387e8","z":"c2e468a.b28e598","name":"","env":[],"x":1760,"y":680,"wires":[]},{"id":"55675190.c9d2f","type":"function","z":"c2e468a.b28e598","name":"AL Zone Status Updates","func":"if (msg.zone_status === true)\n    {\n    return msg;     \n    }\n//else lighting update\nelse{\n    return;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":680,"wires":[["8695190d.4ed958","6c71bd7f.9ac654"]]},{"id":"6c71bd7f.9ac654","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1730,"y":640,"wires":[]},{"id":"a91b9920.71b718","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Cabinet Lights","deviceID":"Kitchen/Cabinet Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":360,"y":220,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"902b30aa.f2c1a","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Wall Lights","deviceID":"Kitchen/Wall Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":370,"y":300,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"eb3f81a4.3329a","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Pendant Light","deviceID":"Kitchen/Pendant Light","server":"9c9da376.afac5","events":true,"outputs":2,"x":360,"y":340,"wires":[["6ab0ec0c.0837f4","fee07dfd.dc972"],[]]},{"id":"80eed1f8.73cbc","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Island Lights","deviceID":"Kitchen/Island Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":360,"y":380,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"38f170a7.0739","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Skylight Lights","deviceID":"Kitchen/Skylight Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":360,"y":480,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"2eed4f2e.b677a","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Sink and Low Lights","deviceID":"Kitchen/Sink and Low Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":340,"y":640,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"c31359aa.5bc6e8","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Drinks Cabinet","deviceID":"Kitchen/Drinks Cabinet","server":"9c9da376.afac5","events":true,"outputs":2,"x":360,"y":680,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"fe754627.17d788","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Ceiling Lights","deviceID":"Kitchen/Ceiling Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":360,"y":520,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"48f4e2eb.dcd2ec","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen/Courtyard Uplights","deviceID":"Kitchen/Courtyard Uplights","server":"9c9da376.afac5","events":true,"outputs":2,"x":340,"y":420,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"4bb041fb.17cc8","type":"fibaroActor","z":"c2e468a.b28e598","name":"Garden/Garden Wall Lights","deviceID":"Garden/Garden Wall Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":340,"y":740,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"b4715f6e.b78a3","type":"fibaroActor","z":"c2e468a.b28e598","name":"Garden/Garden Bench Lights","deviceID":"Garden/Garden Bench Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":340,"y":780,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"44fb5f77.2f80f","type":"fibaroActor","z":"c2e468a.b28e598","name":"Garden Room/Spot Lights","deviceID":"Garden Room/Spot Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":350,"y":840,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"526d4346.7c08cc","type":"fibaroActor","z":"c2e468a.b28e598","name":"Garden Room/Perimeter Lights","deviceID":"Garden Room/Perimeter Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":330,"y":880,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"8283a128.a8e8e","type":"fibaroActor","z":"c2e468a.b28e598","name":"Corridors/Kit Corr 2x 2P","deviceID":"Corridors/Kit Corr 2x 2P","server":"9c9da376.afac5","events":true,"outputs":2,"x":350,"y":1040,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"3998fdd3.b356d2","type":"fibaroActor","z":"c2e468a.b28e598","name":"Corridors/Kit RGBW Corr Low","deviceID":"Corridors/Kit RGBW Corr Low","server":"9c9da376.afac5","events":true,"outputs":2,"x":330,"y":1080,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"28f38128.a80d2e","type":"fibaroActor","z":"c2e468a.b28e598","name":"Corridors/Kit RGB Stairs","deviceID":"Corridors/Kit RGB Stairs","server":"9c9da376.afac5","events":true,"outputs":2,"x":350,"y":1120,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"aa20a176.ed89d","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen WC/Kit WC RGBW Perm 2P","deviceID":"Kitchen WC/Kit WC RGBW Perm 2P","server":"9c9da376.afac5","events":true,"outputs":2,"x":310,"y":1220,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"38a04c00.320ab4","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kitchen WC/Kit WC Lights 1P","deviceID":"Kitchen WC/Kit WC Lights 1P","server":"9c9da376.afac5","events":true,"outputs":2,"x":340,"y":1180,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"b1d84da6.d9fbf","type":"fibaroActor","z":"c2e468a.b28e598","name":"Garden Bath/Bath Spot Lights","deviceID":"Garden Bath/Bath Spot Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":330,"y":940,"wires":[["6ab0ec0c.0837f4"],[]]},{"id":"d25e86b6.7b2a68","type":"fibaroActor","z":"c2e468a.b28e598","name":"Garden Bath/Bath Perimeter Light","deviceID":"Garden Bath/Bath Perimeter Light","server":"9c9da376.afac5","events":true,"outputs":2,"x":320,"y":980,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"b04dfda7.e5c08","type":"fibaroActor","z":"c2e468a.b28e598","name":"Kit Sink RGBW 5PL (Kitchen)","deviceID":"Kitchen/Kit Sink RGBW 5PL","server":"9c9da376.afac5","events":true,"outputs":2,"x":340,"y":560,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"b0403ba4.f6a2e8","type":"fibaroActor","z":"c2e468a.b28e598","name":"Island Low Lights (Kitchen)","deviceID":"Kitchen/Island Low Lights","server":"9c9da376.afac5","events":true,"outputs":2,"x":340,"y":600,"wires":[["6ab0ec0c.0837f4"],["6ab0ec0c.0837f4"]]},{"id":"fee07dfd.dc972","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":500,"wires":[]},{"id":"f6cca970.e2c3d8","type":"link in","z":"c2e468a.b28e598","name":"","links":["63d889d0.644828","ccbe4002.969dd"],"x":855,"y":960,"wires":[["de645fac.b2b9b"]]},{"id":"de645fac.b2b9b","type":"function","z":"c2e468a.b28e598","name":"AL Time Remaining before OFF","func":"//populate new msg type\nvar localname       = msg.zone_name;\nvar hc2name_lookup  = flow.get(\"FP_hc2_device_name_lookup\");\nhc2name_lookup  = hc2name_lookup.find(_=>_.localname == localname);\n\nvar1 = msg.total_time;\nvar2 = msg.time_remaining;\n\n//node.warn([msg.total_time])\n\nmsg                 = {}\nmsg.topic           = hc2name_lookup.hc2name;\nmsg.time_total      = var1;\nmsg.time_remaining  = var2;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1020,"wires":[["df9b41ee.87ab6","2dc417e9.5ab718"]]},{"id":"df9b41ee.87ab6","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1020,"wires":[]},{"id":"2468b84c.0ae4c8","type":"inject","z":"c2e468a.b28e598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":1260,"wires":[["6ab0ec0c.0837f4"]]},{"id":"2fb303a9.515cec","type":"link in","z":"c2e468a.b28e598","name":"","links":["9e84dca1.cb62e","7671e8cb.2c27c8"],"x":855,"y":1020,"wires":[["de645fac.b2b9b"]]},{"id":"1e7dbe2c.2d8292","type":"comment","z":"c2e468a.b28e598","name":"Kit Corr","info":"","x":770,"y":1020,"wires":[]},{"id":"eb004db5.b2d15","type":"comment","z":"c2e468a.b28e598","name":"GdnRm","info":"","x":770,"y":1060,"wires":[]},{"id":"85c16ee1.f40e8","type":"link in","z":"c2e468a.b28e598","name":"","links":["a886457e.6aa5f8","d1f346d6.a77378"],"x":855,"y":1060,"wires":[["de645fac.b2b9b"]]},{"id":"bf08b3a3.d446b","type":"comment","z":"c2e468a.b28e598","name":"Kit WC","info":"","x":770,"y":1100,"wires":[]},{"id":"1b915443.95973c","type":"link in","z":"c2e468a.b28e598","name":"","links":["39a36771.2b3f98","d93710fd.92a31"],"x":855,"y":1100,"wires":[["de645fac.b2b9b"]]},{"id":"a85a4619.df8d18","type":"comment","z":"c2e468a.b28e598","name":"GdnBth","info":"","x":770,"y":1140,"wires":[]},{"id":"7452018f.be423","type":"link in","z":"c2e468a.b28e598","name":"","links":["61b9cde.42b5434","ee5731cd.38703"],"x":855,"y":1140,"wires":[["de645fac.b2b9b"]]},{"id":"94e891b8.eae9e","type":"fibaroSensor","z":"c2e468a.b28e598","name":"Kit Din UF Temp1 (Kitchen)","deviceID":"Kitchen/Kit Din UF Temp1","server":"9c9da376.afac5","events":false,"outputs":1,"x":1150,"y":160,"wires":[["2dc417e9.5ab718","7f539657.ba2a78"]]},{"id":"7f539657.ba2a78","type":"debug","z":"c2e468a.b28e598","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":160,"wires":[]},{"id":"9c9da376.afac5","type":"fibaro-server","z":"","name":"HC2_Master1","ipaddress":"192.168.1.101"}]